@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(29, 26, 26);
    font-family: 'Nanum Gothic', sans-serif;
}

main {
    background-image: url('bg.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
}

main:after {
    content: "";
    background-color:  rgb(0, 0, 0, 0.68);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header-movies {
    position: relative;
    padding: 15px 0;
    width: 100%;
    z-index: 9;
}

.header-title {
    color: #e50914;
    font-family: 'Arial Black';
    /*'Nanum Gothic', sans-serif;*/
    font-size: 40px;
    text-shadow: 2px 2px #000;
}

.section-movies {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 60px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 90%;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.app-movies {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 60px 0;
    z-index: 9;
}

.app-movies-title {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 54px;
    max-width: 70%;
    text-align: center;
}

.app-movies-subtitle {
    color: aliceblue;
    font-family: Helvetica;
    font-size: 25px;
    max-width: 300%;
    margin: 20px 0 30px;

}

.app-movies-msg {
    color: aliceblue;
    font-family: Helvetica;
    font-size: 18px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-input {
    border: 0;
    background-color: aliceblue;
    border-radius: 0;
    padding: 15px 15px;
    width: 35%;
}

.form-submit {
    background-color: #e50914;
    border: 0;
    cursor: pointer;
    color: aliceblue;
    font-size: 25px;
    padding: 15px 30px;
    transition: .4s;

}

.form-submit:hover { 
    background-color: #c70913;
}

.all-movies {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, 14.46%);
    position: relative;
    z-index: 9;
}

.all-movies-card {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    transition: .4s;
}

.all-movies-card:hover {
    top: -5px;
}

.all-movies-figure {
    height: 230px;
    box-shadow: 0 0px 9px 3px rgb(255, 255, 255, 0.23);
}

.all-movies-thumb {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.all-movies-legend {
    display: flex;
    flex-direction: column;
}

.all-movies-title {
    color: aliceblue;
    font-family: Helvetica;
    font-size: 16px;
}

.all-movies-years {
    color: rgb(255, 255, 255, 0.76);
    font-family: Helvetica;
    font-size: 13px;
    background-color: #e50914;
    max-width: 30px;
    padding: 4px 10px;
    line-height: 1;
    margin: 8px 0;
    border-radius: 2px;
}

footer {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
    color: #e50914;;
}

footer a {
    color: aliceblue;
    font-family: 'Arial Black'
}




